body{

    background-color: beige;
}
table{
    border-collapse: collapse;
    width: 50%;
}
th, td, tr{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}
.img-div{
    display: flex   ;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img{
    box-shadow: 10px 5px 5px black;
    width: 300;
}
.cover-page{
    width: 300;

}
.title{
    border-bottom: 2px solid black;
    margin:100;
    border: 50%;
}
.Intro{
    border-bottom: 2px solid black;
}